body{
    background-color: bisque;
    /* margin-top: 80px; */
    margin: 0;
    padding: 0;
}
.col{
    /* background-color: lightblue; */
    background-size: 100%;
}
.row{
    padding-left: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 68%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color:rgba(255, 255, 255, 0.379);
}
.nav{
    max-width: 1490px;
    margin: auto;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 7px;
}
.card-logo{
    width: 170px;
    height:95px;
}
ul{
    float: inline-end;
    display: flex;  
    margin-top: 10px;
}

li{
    list-style-type: none;
    margin-right: 60px;
}
ul li a{
    text-decoration: none;
    color: rgb(123, 123, 123);     
}
ul li a:hover{
    color: rgb(0, 0, 0);
}